.matrix-container {
  width: 100%;
  text-align: center;
}

.matrix-grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);

  .pixel {
    width: calc(calc((100vw - calc(var(--cols) * 2px)) / var(--cols)) * 0.95);
    height: calc(calc((100vw - calc(var(--cols) * 2px)) / var(--cols)) * 0.95);
    margin: 1px;
    padding: 0;
    color: #fff;
    font-size: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .pixel-debug {
      visibility: var(--pixel-debug-visibility);
    }
  }
}
