.matrix-container {
  
}

.matrix-grid {
  margin: 0;
  padding: 0;
  columns: 64;
  
  .pixel {
    width: 2vw;
    height: 2vw;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}