.matrix-container {
  
}

.matrix-grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr repeat(63, 1fr);
  
  .pixel {
    width: calc(100vw / 64);
    height: calc(100vw / 64);
    margin: 1px;
    padding: 0;
    color: #fff;
    font-size: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}